GRAFANA_CLOUD_PROMETHEUS_URL=https://prometheus-prod-XX-prod-XX-X.grafana.net/api/prom/push
GRAFANA_CLOUD_PROMETHEUS_USERNAME=123456
GRAFANA_CLOUD_LOKI_URL=https://logs-prod-XXX.grafana.net/loki/api/v1/push
GRAFANA_CLOUD_LOKI_USERNAME=123456
GRAFANA_CLOUD_ACCESS_POLICY_TOKEN=glc_your_access_policy_token
