version: '3'

services:
  otel-lgtm:
    image: docker.io/grafana/otel-lgtm:latest
    ports:
      - "3000:3000"
      - "4317:4317"
      - "4318:4318"
    stop_grace_period: 2s

  app:
    build:
      context: .
    ports:
      - "8081:8080/tcp"
    environment:
      - JAVA_TOOL_OPTIONS=-javaagent:/usr/local/opentelemetry-javaagent.jar
      - OTEL_SERVICE_NAME=borbservice
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-lgtm:4318
