GRAFANA_CLOUD_ACCESS_POLICY_TOKEN=glc_...
GRAFANA_CLOUD_LOGS_ID=xxxxxxx
GRAFANA_CLOUD_LOGS_URL=https://logs-prod-xxx.grafana.net/loki/api/v1/push
GRAFANA_CLOUD_PROM_ID=xxxxxxx
GRAFANA_CLOUD_PROM_URL=https://prometheus-prod-xxx.grafana.net/api/prom/push