---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: ge-logs-discovery
  name: ge-logs-discovery
spec:
  clusterIP: None
  ports:
    - name: ge-logs-grpc
      port: 9095
      targetPort: grpc
    - name: ge-logs-gossip
      port: 7946
      targetPort: gossip
  publishNotReadyAddresses: true
  selector:
    name: ge-logs
---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: ge-logs
  name: ge-logs
spec:
  ports:
    - name: ge-logs-http
      port: 8100
      targetPort: 3100
  selector:
    name: ge-logs
  sessionAffinity: None
  type: LoadBalancer
